<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISayHelloService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISayHelloService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/AnyAddress" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISayHelloService" contract="SayHelloService.ISayHelloService"
                name="BasicHttpBinding_ISayHelloService" />
            <endpoint address="net.tcp://localhost:8090/AnyAddress" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISayHelloService" contract="SayHelloService.ISayHelloService"
                name="NetTcpBinding_ISayHelloService">
                <identity>
                    <userPrincipalName value="PC\Kittu" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>